name: Tests
on: [push]
jobs:
  build:
    name: 'Unit Tests'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '1.x'
      - run: npm install
      - run: npm run build --if-present
      - run: npm test